<div class="post-container flex-col a-cente">
    <img src="{{url}}" alt="article-image">
    <div class="header-container flex-col a-center j-center">
        <h1 class="post-title">{{title}}</h1>
        <h3 class="user">Posted by: {{username}}</h3>
    </div>
    <p class="post-body">{{content}}</p>
    <div class="comment-container">
        {{#each comment}}
            {{content}}
        {{/each}}
    </div>
</div>